* {
  border: none;
  border-radius: 10px;
  font-family: "Hack Nerd Font";
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: #1a2639;
  color: #a9d1ff;
}

#hyprland-workspaces button {
    padding: 0 6px;
    background: transparent;
    color: #5d7896; /* inactive color */
}

#hyprland-workspaces button.active {
    color: #81A1C1; /* active color (Nord blue) */
    border-bottom: 2px solid #81A1C1; /* optional underline */
}


#hyprland-workspaces button.urgent {
  background: #3d5a80;
  color: #ffffff;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#clock,
#custom-powermenu {
  padding: 0 8px;
  color: #a9d1ff;
}

#clock {
  color: #4a86e8;
}

#pulseaudio {
  color: #4a86e8;
}
